html,body,#root,.App{
  height: 100%;
}
#map-container{
  height: 300px;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}
.form{
  border: 1px solid blue;
  border-radius: 5px;
  max-width: 300px;
  text-align: left;
}
.form div :not(:first-child){
  margin: 5px 0;
}
.header{
  background-color: #448BC9;
  text-align: left;
  color: #ffffff;
 }
.form-holder{
  display: flex;
  flex-direction: column;
}
.button-holder{
  display: flex;
  justify-content: flex-end;
}
.button-holder button{
  margin: 5px;
}
button{
  min-width: 40px;
  min-height: 20px;
  color: #ffffff;
  border-radius: 5px;
}